<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/config.xsd">
    <default>
        <greeting>
            <settings>
                <message>Hello, Welcome to GymBeam!</message>
            </settings>
        </greeting>
    </default>
</config>
